icomoon-font-path ?= $path-fonts

icon_long-arrow = "\e90d"
icon_points = "\e90b"
icon_cup = "\e90a"
icon_shield = "\e908"
icon_star = "\e909"
icon_mail = "\e907"
icon_dislike = "\e905"
icon_like = "\e906"
icon_prize = "\e902"
icon_share = "\e904"
icon_twitter = "\e903"
icon_search = "\e901"
icon_ok = "\e90c"
icon_blocks = "\e900"
icon_light = "\ea0d"
icon_lock = "\ea0e"
icon_watch = "\ea0f"
icon_comment = "\ea0b"
icon_view = "\ea0c"
icon_quot = "\ea0a"
icon_check = "\ea09"
icon_arrow = "\ea07"
icon_fb = "\ea01"
icon_instagram = "\ea02"
icon_vk = "\ea03"
icon_burn = "\ea04"
icon_gift = "\ea05"
icon_medal = "\ea06"

